/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* Colors */
$color-primary: hsl(356, 100%, 66%);
$color-primary-light: hsl(355, 100%, 74%);
$color-primary-dark: hsl(208, 49%, 24%);

$color-neutral-light: hsl(240, 2%, 79%);
$color-neutral-dark: hsl(207, 13%, 34%);
$color-neutral-dark-2: hsl(240, 10%, 16%);

$color-background-light: hsl(13, 100%, 72%);
$color-background-dark: hsl(353, 100%, 62%);
$color-blue-dark: hsl(237, 17%, 21%);
$color-blue-dark-1: hsl(237, 23%, 32%);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-white: hsl(0, 0%, 100%);
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

/* Grid */
$grid-width: 144rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
