.footer {
  position: relative;
  background-color: $color-neutral-dark-2;
  padding: 10rem 10rem 10rem 10rem;
  font-size: 1.4rem;
  color: $color-white;
  border-top-right-radius: 80px;

  &__logo-box {
    // position: absolute;
    // top: 8rem;
    // left: 14rem;
  }

  &__logo {
    width: 10rem;
    height: auto;
    display: inline-block;
  }

  &__product,
  &__company,
  &__connect {
    display: inline-block;
    width: 10rem;
    height: auto;
  }

  &__product ul li,
  &__company ul li,
  &__connect ul li {
    list-style: none;
    padding-top: 2rem;
    color: $color-neutral-light;

    &:first-child {
      padding-top: 4rem;
    }
  }
}
