.heading-primary {
  &--main {
    font-family: "Overpass", sans-serif;
    font-weight: 600;
    font-size: 8.3rem;
    color: $color-white;
  }

  &--sub {
    font-family: "Overpass", sans-serif;
    font-family: 300;
    font-size: 3rem;
    color: $color-white;
  }
}

.future {
  &__headline-text {
    font-family: "Overpass", sans-serif;
    font-size: 4rem;
    color: $color-blue-dark;
    font-weight: 600;
  }
}

.future-heading-primary,
.laptop-heading-primary {
  font-family: "Overpass", sans-serif;
  &--main {
    font-size: 3.5rem;
    color: $color-blue-dark-1;
    // margin-bottom: 8rem;
  }

  &--paragraph {
    font-size: 0.95rem;
    color: $color-neutral-light;
    word-spacing: 2px;
    width: 85%;
    // margin-bottom: 10rem;
    &:not(:last-child) {
      margin-bottom: 6rem;
    }
  }
}

.mobile-heading-primary {
  font-family: "Overpass", sans-serif;

  &--main {
    font-size: 3.5rem;
    color: $color-white;
  }

  &--paragraph {
    font-size: $default-font-size;
    color: $color-white;
    word-spacing: 2px;

    &:not(:last-child) {
      margin-bottom: 6rem;
    }
  }
}
