// .section-about {
//   background-color: $color-grey-light-1;
//   padding: 25rem 0;
//   margin-top: -20vh;
// }

// .section-features {
//   padding: 20rem 0;
//   background-image: linear-gradient(
.future {
  position: relative;
  padding: 15rem 15rem;
  overflow: hidden;
}

.future-graph {
  position: absolute;
  top: 12%;
  right: -20%;
}

.mobile {
  position: relative;
  padding: 0rem 15rem;
  height: 56vh;
  background-color: $color-blue-dark-1;
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
  background-image: url(../../images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 100%;

  &__phones {
  }
}

.image-col {
  position: relative;
  height: 50vh;
}

.mobile-image-container {
  position: absolute;
  top: -13%;
  left: -15%;
  display: inline-block;
}

.laptop {
  position: relative;
  padding: 5rem 5rem 15rem 0;
  overflow: hidden;
}

.laptop-image-container {
  position: absolute;
  top: 35%;
  left: -41%;
  display: inline-block;
}
